pyrogram
telethon
validators
filespli
safoneapi
wget
CairoSVG
faker
html5lib
langdetect
geopy
selenium
opencv-contrib-python
fake_useragent
youtube-search-python
scipy
numpy
NoteShrinker
pytest
glitch_this
lottie
pygifsicle
psutil
python-dotenv
pymediainfo
motor
dnspython
Markdown
gTTS
youtube-search
ffmpeg-python
🎡
anime_downloader
hachoir
google-trans-new
googletrans
beautifulsoup4
tinydb
img2pdf
gitpython
TgCrypto
pytz
apscheduler
requests
Pillow
pyshorteners
telegraph
heroku3
aiofiles
aiohttp
pyjokes
gpytranslate
ffprobe
python-arq
